.navbar-title{
  color: black;
  font-weight: bold;
}
.navbar-collapse{
  justify-content: space-between;
}
.nav-item a{
  color: grey;
  font-weight: bold;
}
.btn_sing-up{
  background-color: aquamarine;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.navbar-toggler{
  color: black ;
}
