.content{
  display: flex;
  justify-content: center;
}
.card{
  background-image: url('../../../assets/image/bg-shorten-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 70%;
  align-items: center;
  background-color: rgb(115, 64, 167);
  border-radius: 5px;
  z-index: 10;
  top: 32em;
  left: 5;
  position: absolute;
}

.row{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 30px;
}

.content-btn{
  display: flex;
  justify-content: end;
}

.btn{
  background-color: aquamarine;
  color: white;
  border-radius: 5px;
}

@media (max-width:759px){

  .container{
    height: auto;
  }
  .content-btn{
    display: block;
    margin-top: 10px;
    justify-content: center;
  }
  .btn{
    width: 100%;
  }
}

@media (max-width: 1400px){
  .card{
    top: 28em;
  }
}

@media (max-width: 768px){
  .card{
    top: 42em;
  }
}
