<div class="content">
  <div class="card">
    <div class="row">
      <form [formGroup]="formUrl" (ngSubmit)="submitUrl()" style="display: flex">
        <div class="col-md-10">
          <input formControlName="url" class="form-control" type="text" placeholder="shorten a link here...">
        </div>
        <div class="col-md-2 content-btn">
          <button type="submit" [disabled]="!formUrl.valid" class="btn">
            Shorten It!
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
