*{
  color: white;
  font-weight: bold ;
}
.navbar{
  height: 250px;
}
.container{

}
.list_content{
  display: flex;
  justify-content: center;
}
.list_redes-sociais i{
  font-size: 30px;
  margin-right: 1rem;
  cursor: pointer;
}
.list_redes-sociais, li{
  display: flex;
  list-style: none;
  color: grey;
  cursor: pointer;
}

ul{
  padding: 0px;
}


li:hover, i:hover{
  color: aqua;
}


@media (max-width:767px){
  .navbar{
    height: auto;
  }
  .row, ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .list_redes-sociais{
    display: flex;
    flex-direction: row;
  }
  .logo-content{
    margin: 20px 0px;
    padding: 0;
  }
  .logo-content span{
    margin: 0px;
  }
}
