<app-header></app-header>
<div class="container">
  <div class="row content-incial">
    <div class="col-md-6 col-12 content-tiles-princiais">
      <h1>More than just shorterlinks</h1>
      <p>
        Builder your brand's recognition and get delailed <br />
        insights on how your links are performing
      </p>
      <div>
        <app-button [textButton]="'Get Started'"></app-button>
      </div>
    </div>
    <div class="col-md-6">
      <img
        class="img-responsive"
        src="../../../assets/image/illustration-working.svg"
        alt="Working Image"
      />
    </div>
  </div>
</div>
<section class="advanced-statistics">
  <app-search (urlEmmit)="getUrlShortening($event)"></app-search>
  <div style="margin-top: 100px" class="container">
    <div class="card mb-2 shadow" *ngFor="let url  of urls | slice: 0:4">
      <div style="padding: 15px" class="row">
        <div class="col-md-6 col__url-info col__url-info--original"><p>{{url.result.original_link}}</p></div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col__url-info--short" #urlshort>{{url.result.full_short_link}}</div>
            <div class="col-md-6 col__url-info">
              <button class="btn btn-copy" (click)="copyUrl(urlshort)">Copy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="advanced-statistics__titles">
      <h2>Advanced Statistics</h2>
      <p>Tracks how your links are performing across the</p>
    </div>
    <div class="row content__cards">
      <div class="row line-sobreposta"></div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4>Brand Recognition</h4>
            <p>
              Bost your brand recognition with <br />
              each click. Generic links don't mean a <br />
              thing. Branded links help instill <br />
              confidence in your content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div style="margin-top: 10%" class="card">
          <div class="card-body">
            <h4>Detailed Records</h4>
            <p>
              Bost your brand recognition with <br />
              each click. Generic links don't mean a <br />
              thing. Branded links help instill <br />
              confidence in your content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div style="margin-top: 20%" class="card">
          <div class="card-body">
            <h4>Fully Customizable</h4>
            <p>
              Bost your brand recognition with <br />
              each click. Generic links don't mean a <br />
              thing. Branded links help instill <br />
              confidence in your content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row pre-footer">
  <div>
    <h1>Boost your links today</h1>
    <app-button [textButton]="'Get Started'"></app-button>
  </div>
</div>
<app-footer></app-footer>
